<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static "calendarapp/base.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "calendarapp/font-awesome-4.7.0/css/font-awesome.min.css" %}">
	<script type="text/javascript" src="{% static "calendarapp/jquery-3.2.0.min.js" %}"></script>
	<script type="text/javascript" src="{% static "calendarapp/base.js" %}"></script>
</head>
<body>
<div class="left-container">
	<div>
	<span id="curr-month"></span>
	<span id="curr-year"></span>
	<table id="curr-month-cal"></table>
	</div>
	<div id='clock'></div>
	<div id="todays-events"></div>
</div>
<div class="main-container">
	<i class="fa fa-chevron-up" aria-hidden="true" id="prev-month"></i>
	<i class="fa fa-chevron-down" aria-hidden="true" id="next-month"></i>
	<label id="month"></label>
	<label id="year"></label>
	<table class="calendar">
	</table>
</div>
</body>
</html>