/*@font-face{
    src=url(Roboto/Roboto-Light.ttf)
}*/

html{
    height: 100%;
}
body{
	margin: 0;
    height: 100%;
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.left-container{
	width: 15%;
	background-color: #2ed39e;
    color: #fff;
}

.main-container{
	width: 85%;
    color: #b3b3b3;
}

.popup{
    display: none;
    background-color: #fff;
    color: #b3b3b3;
    text-align: left;
    border-radius: 2px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    border: 1px solid #ff8787;
    max-width: 300px;
}

/*.popup::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}*/

.popup *{
	display: block;
}

/*.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}*/

.popup-header{
    color: #ff8787;
}

.left-container i{
    margin: 10px;
}

.small-cal{
    margin: 30px 20px;
}

.small-cal .cal-head{
    font-size: 12px;
    padding-left: 6px;
}

.small-cal table{
    font-size: 10px;
    margin-top: 8px;
}
.small-cal th{
    font-weight: normal;
}

.small-cal td, .small-cal th{
    padding: 4px 5px;
}

.small-cal .month-theme{
    background-color: #2bc493;
}

.small-cal .today{
    background-color: #fff;
    color: #2bc493;
}

#clock{
    font-size: 60px;
    text-align: center;
    font-weight: 100;
}

#todays-events h3{
    font-size: 12px;
    font-weight: normal;
    margin-left: 30px;
    margin-bottom: 6px;
}

#todays-events ul{
    background-color: #2bc493;
    /*padding-left: 30px;*/
    font-size: 12px;
    margin: 0px;
    padding: 5px 0 5px 30px;
}

.events-list li{
    padding: 5px 0;
    border-right: 4px solid #ff8787;
}

.date ul{
    font-size: 12px;
    padding: 0;
}

.date li{
    border-radius: 2px;
    border: 2px solid #2ed39e;
    border-right: 4px solid #ff8787;
    padding-left: 4px;
}

.event-time{
    float: right;
    padding-right: 15px;
}

li{
    list-style-type: none;
    font-weight: normal;
}

.main-container .cal-head{
    color:#2ed39e;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e5e6e7;
    padding: 15px;
}

.main-container .calendar{
    margin:0 20px;
    width: calc(100% - 40px);
    text-align: left;
    height: calc(100% - 50px);
}

.main-container td{
    border-right: 1px solid #e5e6e7;
    border-bottom: 1px solid #e5e6e7;
    width: 14%;
    vertical-align: top;
    padding: 10px 0;
    padding-left: 2px;
    background-color: #f8f8f8;
}

.main-container td:last-child{
    border-right: 0;
}

.main-container .month-theme{
    background-color: #fff;
}
.main-container th{
    border-bottom: 1px solid #e5e6e7;
    width: 14%;
    padding-left: 2px;
    font-weight: 300;
}

.main-container .day-names{
    height: 50px;
}

.main-container tr{
    height: 15%;
}

input{
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #e5e6e7;
}

input[type='checkbox'], input[type='date'], input[type='time'],input[type='button']{
    display: inline;
}

textarea{
    margin: 5px 5px 5px 0;
    padding: 5px 10px;
    border-radius: 2px;
    border: 1px solid #e5e6e7;
}

.submit-btn{
    float: right;
    background-color: #ff8787;
    color: #fff;
}

.close-btn{
    float: right;
}

.error{
    font-size: 10px;
    color: red;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
}

.float-right{
    float: right;
}

.active-day{
    background-color: #f8f8f8;
    font-weight: 400 !important;
    border-bottom: 3px solid #2ed39e !important;
    color: #777777;
}

.main-container .today{
    background-color: #2ed39e;
    color: #fff;
}

.main-container .today li{
    color: #2ed39e;
    background-color: #fff;
}